/WinUI/nbproject/private/
/WinUI/JPAPP/nbproject/private/
/WinUI/TestSlave/nbproject/private/
/sqliteEngine/SqliteEngine_Interface/nbproject/private/
/SqliteEngine/SqliteEngine_Interface/nbproject/private/
/SqliteEngine/SqliteEngine_JDBC/nbproject/private/
/JPLib/nbproject/private/
/SqliteEngine/SqliteEngine_Interface/build/
/SqliteEngine/SqliteEngine_Interface/dist/
/SqliteEngine/SqliteEngine_JDBC/build/
/SqliteEngine/SqliteEngine_JDBC/dist/
/WinUI/JPAPP/build/
/JPLib/build/
/JPLib/dist/
/WinUI/JPAPP/dist/
/WinUI/TestSlave/build/
/WinUI/TestSlave/dist/
/JPWordCommonFilter/nbproject/private/
/JPLibCommonFilters/nbproject/private/
/JPLibCommonFilters/build/
/JPLibCommonFilters/dist/
/JPLibAssist/nbproject/private/
/JPLibAssist/build/
/JPLibAssist/dist/